@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.checkout-section {
    position: relative;
    background-color: #fff;
    top: 80px;
    padding: 30px 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

.checkout-section-container {
    margin: auto;
    width: 900px;
}

.checkout-section-left {
    background-image: linear-gradient(to right, #3931af, #00c6ff);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.checkout-address-container {
    display: flex;
}

.checkout-address-first {
    margin-right: 1rem;
}

.checkout-address-first-inner {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

.checkout-delivery-icon {
    font-size: 3rem;
    animation: delivery 4s ease-in-out infinite;
    animation-timing-function: linear;
}

@keyframes delivery {
    0% {
        transform: translateX(-140px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(160px);
    }
}

.checkout-address-first-inner h3 {
    font-size: 1.45rem;
    margin-bottom: 0.5rem;
}

.checkout-address-first-inner p {
    color: hsl(52, 0%, 98%);
    font-weight: 100;
    font-size: 14px;
}

.checkout-left-button {
    text-align: center;
}

.btn-checkout-back {
    color: #4f4f4f;
    background-color: #ececec;
    font-weight: 700;
    margin-top: 50px;
    border-radius: 10rem;
    padding: 0.625rem 1.2rem 0.5rem;
    font-size: .75rem;
    line-height: 1.5;
}

.checkout-address-second {
    flex: 0 0 auto;
    width: 75%;
    justify-content: center;
}

.checkout-second-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border-bottom-left-radius: 20% 20%;
    border-top-left-radius: 20% 20%;
    background-color: #f8f9fa;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

.checkout-second-body {
    flex: 1 1 auto;
    padding: 10px 10px;
    margin-top: 0;
    margin-right: 3rem;
    margin-left: 3rem;
}

.checkout-second-text {
    font-size: 1.4rem;
    color: #495057;
    margin-bottom: 5px;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.checkout-address-form {
    margin-bottom: 0;
}

.checkout-form-section-headers {
    color: #495057;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.checkout-form-input {
    font-size: 1rem;
    padding: 6px 10px;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.checkout-form-input-mobile {
    width: 230px;
    padding-right: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.checkout-form-section-full {
    grid-column: 1 / -1;
    margin-bottom: 15px;
}


.checkout-form-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}


.checkout-form-section-1 {
    grid-column: 1 / 2;
    width: 300px;
}

.checkout-form-section-2 {
    grid-column: 2 / -1;
    display: grid;
}

.btn-checkout-mobile-verification {
    position: absolute;
    font-size: 0.75rem;
    padding: 6px 8px;
    border-radius: 0 5px 5px 0;
    margin-left: 229px;
}

.checkout-otp-verification {
    position: absolute;
    justify-self: end;
    align-self: center;
    margin-right: 5px;
    font-size: 1.2rem;
    color: green;
}

.checkout-form-input-small {
    width: 100%;
    justify-self: end;
    padding-right: 30px;
}

.checkout-form-input-small.verified {
    border: 1px solid green;
}

.checkout-otp-verify-loader {
    position: absolute;
    justify-self: end;
    align-self: center;
    margin-right: 5px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.checkout-form-payment-radio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-checkout-payment-mode {
    border-radius: 0 5px 5px 0;
    display: block;
    width: 160px;
}

.btn-checkout-payment-mode.pay-online {
    border-radius: 5px 0 0 5px;
    margin-right: 1px;
}

.btn-checkout-payment-mode:hover {
    background-color: #0759c5;
}

.btn-checkout-payment-mode:active {
    transform: none;

}

.btn-checkout-payment-mode.active {
    background-color: #19569c;
}

.btn-checkout-payment-mode input {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.checkout-submit-button {
    text-align: end;
}

.btn-checkout-submit {
    width: 250px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    border-radius: 10rem;
}


@media (max-width: 960px) {

    .checkout-section-left {
        background-image: linear-gradient(to bottom, #3931af, #00c6ff);
        border-radius: 5px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        padding: 40px;
    }

    .checkout-section-container {
        width: 600px;
    }

    .checkout-address-first {
        margin-right: 0;
    }


    .checkout-address-first-inner {
        margin-top: 0;
    }

    .btn-checkout-back {
        margin: 15px 0;
        border-radius: 10rem;
        padding: 0.625rem 1.2rem 0.5rem;
        font-size: .75rem;
        line-height: 1.5;
    }

    .checkout-address-container {
        flex-direction: column;
    }

    .checkout-address-second {
        width: 100%;
    }

    .checkout-second-inner {
        border-top-left-radius: 20% 15%;
        border-top-right-radius: 20% 15%;
        border-bottom-left-radius: 0;
        padding-bottom: 1.5rem;
        padding-left: 0;
    }

    .checkout-form-section {
        grid-template-columns: 1fr;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 15px;
    }

    .checkout-form-input-contact {
        width: 250px;
    }

    .checkout-form-input-small {
        width: 130px;
    }

    .checkout-form-input-mobile {
        width: 195px;
    }

    .checkout-form-section-1 {
        width: 250px;
    }

    .btn-checkout-mobile-verification {
        margin-left: 195px;
    }

}

@media (max-width: 720px) {

    .checkout-second-inner {
        padding: 0 0;
    }

    .checkout-section-left {
        padding: 30px;
    }

    .checkout-section-container {
        width: 350px;
    }

    .checkout-second-text {
        text-align: center;
    }

    .checkout-form-section-1 {
        width: 100%;
    }

    .checkout-form-input-contact {
        width: 100%;
    }

    .checkout-form-input-mobile {
        width: 100%;
    }

    .checkout-second-body {
        flex: 1 1 auto;
        padding: 10px 10px;
        margin: 5px 5px;
    }

    .btn-checkout-payment-mode {
        font-size: 0.8rem;
        font-weight: 600;
        width: 130px;
    }

    .checkout-form-section {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 15px;
    }

    .checkout-form-input-mobile {
        width: 100%;
        padding: 6px 10px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
    }

    .btn-checkout-mobile-verification {
        font-size: 0.85rem;
        padding: 6px 10px;
        border-radius: 5px;
        margin-top: 45px;
        margin-left: 190px;
    }

    .checkout-form-section-1 {
        grid-column: 1 / -1;
        width: 100%;
        margin-bottom: 15px;
    }

    .checkout-form-section-2 {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .checkout-form-input-small {
        grid-column: 1 / 2;
    }

    .checkout-otp-verification {
        justify-self: center;
        margin-right: 25px;
    }

    .checkout-otp-verify-loader {
        justify-self: center;
        margin-right: 25px;
    }
    

    .checkout-submit-button {
        text-align: center;
    }

}