.cart-section {
    position: relative;
    background-color: #fff;
    top: 80px;
}

.cart-section-container {
    padding: 30px 20px;
    margin-bottom: 20px;
}

.cart-header {
    padding: 10px 0 40px 0;
    text-align: center;
}

.cart-section-main {
    display: grid;
    grid-template-columns: 65% 30%;
    justify-content: space-around;
    align-items: center;
    grid-gap: 10px;
    
}

.cart-items {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 20px 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.cart-total-price {
    grid-column: 2 / 3;
    padding: 20px 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.btn-proceed {
    justify-self: center;
    width: 100%;
    background-color: green;
}

.cart-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-item-product {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.cart-items-details {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.cart-item-availability {
    font-size: 1rem;
    color: green;
}

.cart-item-product h4 {
    padding-top: 10px;
}

.cart-item-name {
    padding-bottom: 10px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-button {
    cursor: pointer;
}

.quantity-button:hover {
    transform: scale(1.1);
}

.quantity-button:active {
    transform: scale(0.9);
}

.plus-icon {
    color: green;
    padding: 0 5px;
}

.minus-icon {
    color: red;
    padding: 0 5px;
}

.delete-icon {
    color: rgba(253, 23, 23, 0.966);
    font-size: 1.3rem;
    cursor: pointer;
}

.delete-icon:hover {
    transform: scale(1.1);
}

.delete-icon:active {
    transform: scale(0.9);
}

.cart-items-partition {
    margin: 20px 20px;
}

.cart-items-total-price {
    text-align: end;
    padding-right: 40px;
}

.cart-item-image {
    width: 25%;
    
}

.cart-item-img{
    width: 90%;
    border-radius: 5%;
}

.cart-total-calc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}





@media (max-width:960px) {

    .cart-items {
        grid-column: 1 / 3;
    }

    .cart-total-price {
        grid-column: 1 / 3;
    }

    .btn-proceed {
        grid-column: 1 / 3;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-product {
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .cart-items-details {
        width: 100%;
        justify-content: space-between;
    }

    .cart-item-name {
        padding: 0;
    }

    .cart-item-image {
        width: 40%;
    }




}