.order-section {
    position: relative;
    background-color: #fff;
    top: 80px;
    
}

.order-section-container {
    padding: 40px 20px;
    margin: 0 50px;
}

.order-section-header {
    text-align: center;
    padding-bottom: 10px;
}




@media (max-width:960px) {

    .order-section-container {
        margin: 0;
    }
}

@media (min-width:580px) and (max-width:960px){
   
}