.order-section {
    position: relative;
    background-color: #fff;
    top: 80px;
    padding: 30px 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;    
}

.order-section-container {
    margin: auto;
    width: 800px;
}

.order-section-header {
    text-align: center;
    padding-bottom: 10px;
}

.order-section-items {
    border-radius: 5px;
    padding: 20px;
}

.order-section-warning {
    text-align: center;
    font-size: 1.3rem;
}

.order-section-warning-link {
    font-weight: 600;
    margin-right: 5px;
}




@media (max-width:960px) {

    .order-section-container {
        width: 500px;
    }
    
}

@media (max-width: 560px) {

    .order-section-container {
        width: 350px;
    }

    .order-section-warning.shop {
        font-size: 1rem;
        text-align: center;
    }
    
    .order-section-warning-link.shop {
        margin: 0;   
    }
    
}
