.about-section{
    position: relative;
    background-color: #fff;
    top: 80px;
}
    

.about-section-container {
    padding: 30px 20px;
    
}

.about-section-main {
    color: #111;
    background-color: #fff;
}

.about-header {
    text-align: center;
}

.about-part {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly  ;
}

.about-part.part-second {
    flex-direction: row-reverse;
}

.about-part-image {
    padding-bottom: 20px;
    text-align: center;
}

.about-part-img {
    width: 350px;
}


.about-part-text {
    width: 40%;
    flex-shrink: 0;
    order: unset;
}

.about-part-header {
    font-size: 1.7em;
    padding: 10px 0px;
}

.meet-team {
    padding: 30px 0px;
    text-align: center;
    
}

.meet-team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.team-part {
    margin: 30px 0px;
    flex-shrink: 0; 
}

.team-image {
    width: 200px;
    border-radius: 4%;
}

@media (max-width:960px) {

    .about-part {
        flex-direction: column;
        text-align: center;
    }

    .about-part.part-second {
        flex-direction: column;
    }

    .about-part-text {
        order: 2;
        width: 90%;
    }

    .about-part-header {
        text-align: center;
    }

    .about-part-image {
        order: 1;
        width: 90%;
    }

    .about-part-img {
        width: 90%;
    }

    .team-part {
        width: 40%;
    }


}