@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #fff;
  color: #02050f;
  text-decoration: none;
  top: 0;
  border: 1px solid transparent;
  box-shadow: 0px 0px 15px rgba(24, 28, 37, 0.3);
  z-index: 999;

}

.nav-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-icon {
  display: none;
}

.nav-brand {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #0F457C;
}

.nav-brand span {
  font-family: 'Grechen Fuemen', cursive;
  color: #8DA080;
  margin: 0px 2px;
}


.nav-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-items {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-items:hover {
  border-bottom: 2px solid #f00946;
}

.nav-items.active {
  font-size: 2rem;
  padding-top: 7px;
}

.nav-items.about-us {
  padding: 0 15px;
}

.nav-items.profile-mobile {
  display: none;
}

.nav-link {
  padding: 0 0.5rem;
  width: 100px;
  color: #4d4e50eb;
}

.avatar {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

}

.login-active {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  top: 60px;
  right: 10px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  font-size: 1.6rem;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.content-hidden {
  display: none;
}

@media all and (max-width : 960px) {

  .nav-brand {
    font-size: 20px;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    height: 32px;
    top: 0;
    cursor: pointer;
    right: 0;
    transition: all 0.5s ease-in;
  }

  .nav-items {
    height: 50px;
  }

  .nav-items.active {
    display: none;
  }

  .nav-items.profile-mobile {
    display: block;
  }

  .navbar.active {
    box-shadow: none;
    transition: all 1s ease;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 250px;
    top: 79px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-right: 0;
  }

  .nav-menu.active {
    background-color: #fff;
    right: 0;
    opacity: 1;
    transition: all 0.7s ease;
    padding-bottom: 20px;
    box-shadow: 0px 8px 15px -10px rgba(24, 28, 37, 0.3);
  }

  .nav-link {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: table;
  }

  .nav-link:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-items:hover {
    border: none;
  }

  .avatar-mob {
    padding-left: 7px;
    padding-bottom: 7px;
  }

}

@media (max-width:1268px) and (min-width:961px) {
  .nav-link {
    padding: 0 0;
  }
}