
.home-section {
    position: relative;
    background-color: #fff;
    top: 80px;
}

.home-container {
    padding: 30px 20px;
}

.home-section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* flex-wrap: wrap; */
}

.home-section-main-content {
    width: 40%;
    flex-shrink: 0;
    order: unset;
}

.home-section-main-image {
    width: 40%;
    flex-shrink: 0;
    order: unset;
}

.home-main-svg{
    width: 90%;
}

.home-section-explore {
    text-align: center;
}

.cake-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cake-category {
    width: 28%;
    flex-shrink: 0;
    order: unset;
    padding: 25px 10px 0px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(24, 28, 37, 0.3);
    transition: all 0.5s;
}

.cake-category:hover {
    transform: scale(1.01);
}

.explore-section-header {
    font-size: 1.7rem;
    padding: 20px 0;
}

.explore-image {
    width: 90%;
}


.cake-header {
    font-size: 1.5rem;
    padding: 15px 0;
}

.cake-decsription {
    padding: 10px 10px;
}

.btn-outline {
    margin: 30px 0;
    border: 1px solid #0dcaf0;
    background-color: #fff;
    color: #0dcaf0;
    padding: 0.4rem 1.2rem;
}

.btn-outline:hover {
    background-color: #0dcaf0;
    color: #fff;
}

@media (max-width:960px) {
    .home-section-main {
        flex-direction: column;
        text-align: center;
    }

    .home-section-main-content {
        order: 2;
        width: 90%;
    }

    .home-section-main-image {
        order: 1;
        width: 90%;
    }

    .cake-section {
        flex-direction: column;
        align-items: center;
        
    }

    .cake-category {
        width: 90%;
        margin: 20px 0;
    }
    .explore-image {
        width: 90%;
    }
}