.shop-section {
    position: relative;
    background-color: #fff;
    top: 80px;
}

.shop-section-container {
    padding: 30px 20px;
    
}

.shop-section-main {
    color: #111;
    background-color: #fff;
}

.shop-cake-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shop-item {
    width: 20%;
    text-align: center;
    padding: 20px 0;
}

.shop-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-item-img {
    width: 90%;
    border-radius: 5%;
}

.shop-select-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.shop-item-name {
    padding-top: 10px;
    padding-bottom: 0;
}

.shop-select {
    font-size: 1.1rem;
    font-weight: bold;
    width: 50%;
}

.shop-item-content h2 {
    padding-bottom: 5px;
}

.btn-shop {
    background-color: #2d2ae4;
}

.btn-shop:hover {
    background-color: #0cb4f7;
    color: #111;
}

.btn-shop:active {
    transform: scale(0.8);
    border: 1px solid #05038a;
}

.shop-partition {
    margin: 30px 25px;
}

@media (max-width:960px) {
    .shop-item {
        width: 35%;
    }
}


@media (max-width:720px) {

    .shop-item {
        width: 45%;
    }

}