.shop-section {
    position: relative;
    background-color: #fff;
    top: 80px;
}

.shop-section-container {
    padding: 30px 20px;
    width: fit-content;
    margin: 0 auto;
    
}

.shop-section-main {
    color: #111;
    background-color: #fff;
}

.shop-partition {
    margin: 30px 25px;
}

