.shop-item {
    height: 310px;
    width: 200px;
    text-align: center;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 2%;
}

.skeleton {
    animation: loading 1s linear infinite alternate;
}

@keyframes loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.shop-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-item-img {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 5%;
}

.shop-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-item-content h2 {
    padding-bottom: 5px;
}

.shop-item-name {
    padding-top: 10px;
    font-size: 1.3rem;
}

.shop-item-weight {
    padding: 10px 0;
    font-size: 1rem;
    color: #888;
}

.shop-item-price {
    font-size: 1.2rem;
}

.shop-item-button {
    width: 100%;
    border-radius: 0 !important;
    color: #fff !important;
}

.shop-item-remove {
    background-color: #ff0000 !important;
    border: 1px solid #ff0000 !important;
}

.shop-item-add {

    background-color: #008000 !important;
    border: 1px solid #008000 !important;
}

@media (max-width:960px) {
    .shop-item-name {
        font-size: 1.14rem;
    }
}


@media (max-width:580px) {

    .shop-item {
        width: 160px;
        height: 300px;
    }

    .shop-item-img {
        width: 130px;
        height: 130px;
    }

    .shop-item-name {
        padding: 0 10px;
        font-size: 1.1rem;
    }

}